<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <title>Average Standardized Testing</title>
  <meta name="author" content="You">
  <meta name="description">
  <meta content="text/html" http-equiv="Content-type" />
  <meta content="width=device-width, initial-scale=1" name="viewport" />

  <link rel="stylesheet" href="./styles.css">
  <!-- Load plotly.js into the DOM -->
	<script src='https://cdn.plot.ly/plotly-2.16.1.min.js'></script>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">

</head>

<body>
  <%- include('global/navbar', {statesdata: statesdata}) %>
  <%- include('global/header') %>

  <center>
    <h3>Average Standardized Testing Scores Map of the United States</h3>
  </center>

    <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <div class ="d-flex justify-content-center" id="USmap2020"></div>
      <div class ="d-flex justify-content-center" id="pctmap2020"></div>
    </div>
    <div class="carousel-item active">
      <div class ="d-flex justify-content-center" id="USmap2019"></div>
      <div class ="d-flex justify-content-center" id="pctmap2019"></div>
    </div>
    <div class="carousel-item active">
      <div class ="d-flex justify-content-center" id="USmap2018"></div>
      <div class ="d-flex justify-content-center" id="pctmap2018"></div>
    </div>
    <div class="carousel-item active">
      <div class ="d-flex justify-content-center" id="USmap2017"></div>
      <div class ="d-flex justify-content-center" id="pctmap2017"></div>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="false"></span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="false"></span>
  </button>
</div>

  <script>

  let acronyms = [];
  let t2020 = [];
  let t2019 = [];
  let t2018 = [];
  let t2017 = [];
  <% for(let state in statesdata){ %>
    acronyms.push("<%=statesdata[state].acronym%>");
    t2020.push(<%=statesdata[state].total2020%>);
    t2019.push(<%=statesdata[state].total2019%>);
    t2018.push(<%=statesdata[state].total2018%>);
    t2017.push(<%=statesdata[state].total2017%>);
  <% }; %>

  let pct2020 = [];
  let pct2019 = [];
  let pct2018 = [];
  let pct2017 = [];

  <% for(let state in statesdata){ %>
    pct2020.push(<%=statesdata[state].pct2020%>);
    pct2019.push(<%=statesdata[state].pct2019%>);
    pct2018.push(<%=statesdata[state].pct2018%>);
    pct2017.push(<%=statesdata[state].pct2017%>);
  <% }; %>

console.log(t2020);
console.log(t2019);
console.log(t2018);
console.log(t2017);

  var data2020 = [{
    type: "choroplethmapbox", locations: acronyms, z: t2020,
    geojson: "https://raw.githubusercontent.com/python-visualization/folium/master/examples/data/us-states.json",
    zmin: 900,
    zmax: 1300
  }];
  var data2019 = [{
    type: "choroplethmapbox", locations: acronyms, z: t2019,
    geojson: "https://raw.githubusercontent.com/python-visualization/folium/master/examples/data/us-states.json",
    zmin: 900,
    zmax: 1300
  }];
  var data2018 = [{
    type: "choroplethmapbox", locations: acronyms, z: t2018,
    geojson: "https://raw.githubusercontent.com/python-visualization/folium/master/examples/data/us-states.json",
    zmin: 900,
    zmax: 1300
  }];
  var data2017 = [{
    type: "choroplethmapbox", locations: acronyms, z: t2017,
    geojson: "https://raw.githubusercontent.com/python-visualization/folium/master/examples/data/us-states.json",
    zmin: 900,
    zmax: 1300
  }];

  var pctdata2020 = [{
    type: "choroplethmapbox", locations: acronyms, z: pct2020,
    geojson: "https://raw.githubusercontent.com/python-visualization/folium/master/examples/data/us-states.json",
    zmin: 0,
    zmax: 100
  }];
  var pctdata2019 = [{
    type: "choroplethmapbox", locations: acronyms, z: pct2019,
    geojson: "https://raw.githubusercontent.com/python-visualization/folium/master/examples/data/us-states.json",
    zmin: 0,
    zmax: 100
  }];
  var pctdata2018 = [{
    type: "choroplethmapbox", locations: acronyms, z: pct2018,
    geojson: "https://raw.githubusercontent.com/python-visualization/folium/master/examples/data/us-states.json",
    zmin: 0,
    zmax: 100
  }];
  var pctdata2017 = [{
    type: "choroplethmapbox", locations: acronyms, z: pct2017,
    geojson: "https://raw.githubusercontent.com/python-visualization/folium/master/examples/data/us-states.json",
    zmin: 0,
    zmax: 100
  }];

var layout2020 = {mapbox: {center: {lon: -110, lat: 50}, zoom: 1.5},
                width: 700,
                height:400,
                title: "2020 Scores",
                margin: {t: 30, b: 50}};
var layout2019 = {mapbox: {center: {lon: -110, lat: 50}, zoom: 1.5},
                              width: 700,
                              height:400,
                              title: "2019 Scores",
                              margin: {t: 30, b: 50}};
var layout2018 = {mapbox: {center: {lon: -110, lat: 50}, zoom: 1.5},
                                            width: 700,
                                            height:400,
                                            title: "2018 Scores",
                                            margin: {t: 30, b: 50}};
var layout2017 = {mapbox: {center: {lon: -110, lat: 50}, zoom: 1.5},
                                                          width: 700,
                                                          height:400,
                                                          title: "2017 Scores",
                                                          margin: {t: 30, b: 50}};


var pctlayout2020 = {mapbox: {center: {lon: -110, lat: 50}, zoom: 1.5},
width: 700,
height:400,
title: "2020 Percentage of students taking the SAT",
margin: {t: 30, b: 50}};
var pctlayout2019 = {mapbox: {center: {lon: -110, lat: 50}, zoom: 1.5},
width: 700,
height:400,
title: "2019 Percentageof students taking the SAT",
margin: {t: 30, b: 50}};
var pctlayout2018 = {mapbox: {center: {lon: -110, lat: 50}, zoom: 1.5},
width: 700,
height:400,
title: "2018 Percentage of students taking the SAT",
margin: {t: 30, b: 50}};
var pctlayout2017 = {mapbox: {center: {lon: -110, lat: 50}, zoom: 1.5},
width: 700,
height:400,
title: "2017 Percentageof students taking the SAT",
margin: {t: 30, b: 50}};

  var config = {mapboxAccessToken: "pk.eyJ1IjoibW9ob3NhbWkiLCJhIjoiY2xiMmJpc3pjMDJzNzN2cWUwZWI2cmlpYiJ9.Upwk4JeU3_HlH_5Sy4nVhA"};

  Plotly.newPlot('USmap2020', data2020, layout2020, config);
  Plotly.newPlot('USmap2019', data2019, layout2019, config);
  Plotly.newPlot('USmap2018', data2018, layout2018, config);
  Plotly.newPlot('USmap2017', data2017, layout2017, config);
  Plotly.newPlot('pctmap2020', pctdata2020, pctlayout2020, config);
  Plotly.newPlot('pctmap2019', pctdata2019, pctlayout2019, config);
  Plotly.newPlot('pctmap2018', pctdata2018, pctlayout2018, config);
  Plotly.newPlot('pctmap2017', pctdata2017, pctlayout2017, config);


  </script>
  <p>This data is very interesting. The main thing that we found interesting is that there is often an inverse corelation between
    the percentage of students taking the SAT and the state's SAT scores. This is most likely because in states with lower participation,
  the students taking the SAT are likely more prepared and have a better quality of education than thos who elect not to take the SAT.</p> 

  <%- include('global/footer') %>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>

</body>

</html>
